.grid-layout.grid-layout2.margin-top50
  .grid-item
    %h2.margin-top0 Why GitLab for GitOps?
    %p
      Foster collaboration between your infrastructure, operations, and development teams. Deploy more frequently with greater confidence while also increasing the stability, reliability, and security of your software environments. GitLab gives you version control, code review, and CI/CD in a single application for a seemless experience. Tight integrations with HashiCorp Terraform and Vault along with multi-cloud capabilities provide you with the best platform for infrastructure automation.
    = link_to "Learn more", "/demo/", class: "btn cta-btn orange margin-top20"
  .grid-item
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/onFpj_wvbLM", :width => "560"}
%hr.divider