.container.tile-background-container-bg-image
  %h3.text-center.u-padding-top-md.u-padding-bottom-md Better collaboration, more automation, less complexity.
  .grid-layout.grid-layout3.u-margin-top-lg
    .tile-resource.grid-item{:style => "box-shadow:none;"}
      %div{:style => "display:grid; grid-template-columns: 2fr 3fr; align-items: center; padding: 2rem 3rem 0; justify-content: space-between;"}
        %img{:src => "/images/enterprise/icon_tick-circle.svg", :style => "width: 10rem;", :alt => "Tick circle icon"}
        %h3{:style => "padding-left: 1.5rem; margin: 0; color: #333; font-weight: 400;"} Single source of truth  
      .tile-info
        %p.tile-description Manage projects, not tools. With GitLab, you get a complete DevOps Platform delivered as a single application—one interface, one conversation thread, one data store, zero headaches.
    .tile-resource.grid-item{:style => "box-shadow:none;"}
      %div{:style => "display:grid; grid-template-columns: 2fr 3fr; align-items: center; padding: 2rem 3rem 0; justify-content: space-between;"}
        %img{:src => "/images/enterprise/icon_continuous-delivery-color.svg", :style => "width: 10rem;", :alt => "Continuous delivery icon"}
        %h3{:style => "padding-left: 1.5rem; margin: 0; color: #333; font-weight: 400;"} Continuous everything  
      .tile-info
        %p.tile-description Bridge Dev and Ops once and for all. Our industry-leading CI/CD empowers all teams to work together efficiently. Powerful, scalable, end-to-end automation is possible with GitLab.
    .tile-resource.grid-item{:style => "box-shadow:none;"}
      %div{:style => "display:grid; grid-template-columns: 2fr 3fr; align-items: center; padding: 2rem 3rem 0; justify-content: space-between;"}
        %img{:src => "/images/enterprise/icon_locked.svg", :style => "width: 10rem;", :alt => "Locked icon"}
        %h3{:style => "padding-left: 1.5rem; margin: 0; color: #333; font-weight: 400;"} Real-time security 
      .tile-info
        %p.tile-description See everything that matters. Built-in everything brings automated security, code quality, and vulnerability management. With GitLab, tight governance and control never slow down DevOps speed.
  .row
    = link_to "/direction/maturity/", style: "text-decoration: underline; font-weight: 700; color: #333", class: "u-flex u-horiz-center u-margin-bottom-lg" do
      Learn more about our feature maturity