---
layout: handbook-page-toc
title: "Development Department Career Framework"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Development Department Career Framework

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_career_matrix_nav.erb") %>

These are the expected competencies of team members at GitLab by Job Title.
 
1. [Intermediate](/handbook/engineering/career-development/matrix/engineering/development/intermediate)
1. [Senior](/handbook/engineering/career-development/matrix/engineering/development/senior)
1. [Staff](/handbook/engineering/career-development/matrix/engineering/development/staff)


## Development Sub-departments

* CI/CD
* Protect
* [Dev](/handbook/engineering/career-development/matrix/engineering/development/dev)
* Enablement
* Growth
* Ops
* Secure
